@charset "utf-8";
/* CSS Document */
@import url(fonts/thsarabunnew.css);  /* 'THSarabunNew' */
@import url(fonts/th_chakra_petch.css);  /* 'THChakraPetch' */


<style type="text/css">
<!--

.body{

}



.middleGray {color:gray; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:12pt; }


.bigWhite {color:White; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:12pt; }
.bigWhiteChak {color:White; font-family:'THChakraPetch', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:12pt; }

.font1emNoColor {font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:1em; }
.font1emGray {color:gray; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:1em; }
.font1emWhite {color:white; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:1em; }
.bigGray {color:gray; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:12pt; }
.bigGrayChak {color:gray; font-family:'THChakraPetch', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:12pt; }
.font1emBlack {color:black; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:1em; font-weight:bold }
.font1emRed {color:red; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:1em; font-weight:bold }
.font1emOrange {color:orange; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:1em; font-weight:bold }
.font1emBlue {color:blue; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:1em; font-weight:bold }


.font2emNoColor {font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:2em; }
.font2emBlack {color:black; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:2em; font-weight:bold }


.font3emOrange {color:#E97103; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:3em; font-weight:bold }
.font3emBlack {color:black; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:3em; font-weight:bold }
.font3emBlue {color:#256ec8; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:3em; font-weight:bold }
.font3emGreen {color:#339933; font-family:'THSarabunNew', Tahoma, Ms Sans Serif, Microsoft Sans Serif, db ThaiText, serif; font-size:3em; font-weight:bold }


-->
</style>